.about-hero {
    position: relative;
    background-color: #ffffff;
    padding: 80px 20px 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.about__subtitle {
    font-family: var(--font-spectral);
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #1a1a1a;    
}

.about__title {
    font-family: var(--font-aveo);
    font-weight: var(--fw-medium);
    font-size: 72px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #1a1a1a;
}

.about__desc {
    font-family: var(--font-spectral);
    font-weight: var(--fw-regular);
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #1a1a1a;    
}