.header{
    width: 100%;
    height: 72px;
    background-color: #DEC3AB;
}

.header__container {
  display: flex;
  align-items: center;   
  justify-content: space-between; 
  padding: 20px 0;           
}

.logo{
  height: 36px;
  width: 84px;
  white-space: nowrap;
  user-select: none;
}

.header__nav{
    font-family: var(--font-spectral);
    font-weight: var(--fw-regular);
    font-size: 16px;
    line-height: 150%;
    color: #000;
    display: flex;
    justify-content: space-between;
}

.nav__list {
  display: flex;        
  list-style: none;     
  margin: 0;            
  padding: 0;           
  gap: 32px;            
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-family: var(--font-spectral); 
}

.btn--text{
    border-radius: 6px;
    padding: 8px 20px;
    width: 94px;
    height: 40px;
    background: #433A32;
    align-items: center;
    justify-content: center;
}

.btn--left{
    font-family: var(--font-spectral);
    font-weight: var(--fw-medium);
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.btn--accent{
    border-radius: 6px;
    padding: 8px 20px;
    width: 115px;
    height: 40px;
}
.btn--right{
    font-family: var(--font-spectral);
    font-weight: var(--fw-medium);
    font-size: 16px;
    line-height: 150%;
    color: #000;
}

