.services{
    padding-bottom: 112px;
}

.services__header {
  text-align: center;
  margin-bottom: 48px; 
  padding-top: 112px;
}

.services-before__header{
    font-family: var(--font-spectral);
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #1a1a1a;
}

.header-services{
    font-family: var(--font-aleo);
    font-weight: var(--fw-medium);
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #1a1a1a;    
}

.services-description{
    font-family: var(--font-spectral);
    font-weight: var(--fw-regular);
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #1a1a1a;    
}

.services-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 32px; 
  padding-left: 80px;
  padding-right: 80px;
}

.services-card {
  background-color: #f4f4f4; 
  border-radius: 16px;        
  overflow: hidden;           
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services-card__content {
  padding: 32px 24px 24px 24px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.services-card__category {
  font-size: 14px;
  color: #666666;
}

.services-card__title {
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
}

.services-card__text {
  font-size: 14px;
  color: #444444;
  margin-bottom: 8px;
}

.services-card__img {
  width: 100%;
  height: 220px;          
  object-fit: cover;      
  display: block;
  margin-top: auto;      
}

.services-card__btn {
  display: inline-flex;       
  align-items: center;       
  gap: 8px;                   
  
  background: transparent;   
  border: none;              
  padding: 0;
  cursor: pointer;
  
  font-family: var(--font-spectral); 
  font-size: 16px;
  font-weight: 500;
  color: #1a1a1a;            
}

.btn-arrow {
  width: 16px;
  height: 16px;
  transition: transform 0.2s ease; 
}

.services-card__btn:hover .btn-arrow {
  transform: translateX(4px);
}